<h2>Вход</h2>

<hr class="top">

<form class="form-horizontal small-margin">
 <fieldset>
   <div class="control-group small-margin">
     <label class="control-label" for="name_val">Код пользователя</label>
     <div class="controls" >
      <span class="def none">*</span>
       <input type="text" class="input-large" id="name_val" maxlength="60">
     </div>
   </div>
   <div class="control-group">

      <label class="control-label" for="password_val">Пароль</label>
     <div class="controls" >

         <span class="def none">*</span>
         <input type="password" class="input-large def-field-input" id="password_val" maxlength="100">

     </div>
   </div>
 </fieldset>
</form>
<hr class="top">
<form class="form-horizontal small-margin">
<fieldset>
  <!--div class="control-group"-->



    <a class="btn btn-primary" href="#" onclick="doSignIn();"><i class="icon-ok icon-white"></i>OK</a>
    <span class="space"></span>
    <a class="btn " href="#" onclick="gotolink_home();">Назад</a>
  <!--/div-->
 </fieldset>
</form>


