<h2>Редактирование записи Регистра</h2>

<form class="form-horizontal small-margin">
<fieldset>
  <!--div class="control-group"-->


    <a class="btn btn-primary" href="#" onclick="saveChanges();"><i class="icon-ok icon-white"></i> Сохранить</a>
    <span class="space small"></span>
    <a class="btn" href="#" onclick="cancelChanges();"> Отмена</a>

  <!--/div-->
 </fieldset>
</form>

<%= render 'form' %>

<!--%= link_to 'Back', hospitals_path %-->
